/* Body */

body {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: var(--font-w-normal);
    line-height: 1.36;
    color: var(--main-text-color);
    width: 100%;
}

.main {
    width: 100%;
    height: auto;
}

.content-wrapper {
    width: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .horizontal-line {
    border: 0;
    border-top: 1px solid var(--secondary-text-color);
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 970px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
}

h1, h2 {
    font-weight: var(--font-w-bold);
}

a {
    text-decoration: none;
    color: var(--main-text-color);;
}

/* Header start */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.32px;
    padding: 0 15px;
    box-sizing: border-box;
}

.header-nav {
    width: 496px;
    height: 30px;
    padding: 25px 0 24px 0;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    height: 30px;
}

.header-nav {
    color: var(--secondary-text-color);
}

.header-link {
    color: #828282    ;
}

.header__link:hover, .header__link:active {
    color: var(--main-text-color);
    transition: all 0.2s ease-in;
}

.header-list {
    list-style-type: none;
}
  /* Header end */

  /* Banner start */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 15px 0 15px;
}

.home-title {
    align-self: flex-start;
    margin-bottom: 44px;
}

.home-image {
    width: 970px;
    height: 387px;
}
/* Banner end */

  /* About me start  */
  .about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--secondary-bg-color);
    box-sizing: border-box;
    padding: 100px 15px;
  }

  .about-me-heading {
    margin-bottom: 45px;
  }

  .about-me-text-wrap {
    max-width: 480px;
  }

  .about-me-text {
    text-align: center;
    margin-bottom: 31px;
  }

  .about-me-text:last-child {
    margin-bottom: 0;
  }
/* About me end */

/* Skills start */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 15px 101px 15px;
    box-sizing: border-box;
}

.skills-heading {
    margin-bottom: 14px;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 49px;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    margin-right: 97px;
}

.skills-item:last-of-type {
    margin-right: 0;
}

.skills-skill-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 26px;
}

.skills-logo--small-width {
    width: 53.33px;
}

.skills-skill-name {
    font-size: 14px;
    font-weight: var(--font-w-bold);
    letter-spacing: 0.32px;
    text-align: center;
    color: var(--secondary-text-color);
}

.skills-rating {
    width: 170px;
    height: 26px;
    margin-top: 59px;
}

.skills-rating-star {
    fill: var(--main-text-color);
    width: 170px;
    height: 26px;
    margin-right: 5px;
}

.skills-rating-star:last-of-type {
    margin-right: 0;
}

.skills__rating-star--empty {
    fill: var(--empty-star-color);
}

/* Skills end */

/* Portfolio start */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-bg-color);
    padding: 100px 15px 99px 15px;
    box-sizing: border-box;
}

.portfolio-name {
    margin-bottom: 44px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
    text-align: center;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-image {
    width: 970px;
    height: 540px;
    margin-bottom: 41px;
}

.portfolio-link {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

.portfolio-link:hover {
    text-decoration-thickness: 2px;
}
/* Portfolio end */

/* Footer start */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 15px 103px 15px;
    box-sizing: border-box;
}

.footer-heading {
    margin-bottom: 15px;
}

.footer-text {
    margin-bottom: 55px;
}

.footer-social-icons {
    display: flex;
    margin: 31px 0 54px 0;
}

.footer-icon-wrapper {
    margin-right: 50px;
}

.footer-icon-wrapper:last-child {
    margin-right: 0;
}

.footer-icon {
    width: 40px;
    height: 40px;
    fill: var(--main-text-color);
    stroke: var(--main-text-color);
}

.footer-icon:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in;
}

.footer-follow, .footer-link {
    font-size: 14px;
    color: #828282;
}

/* Footer end */

/* Footer Button start */
.footer-button {
    font-family: "Open Sans";
    font-weight: var(--font-w-bold);
    letter-spacing: 1.6px;
    line-height: 2.2;
    text-align: center;
    width: 180px;
    height: 44px;
    border-radius: 22px;
    border: 3px solid transparent;
    color: #070707;
    background-color: var(-#FFFFFF);
    box-sizing: border-box;
}

.footer-button:hover {
    color: var(--main-text-color);
    border: 3px solid var(--main-text-color);
    background-color: #070707;
    transition: all 0.2s ease-in;
}
/* Footer Button end */